<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="assets/styles.css" type="text/css">
</head>
<body>
    <%- include('partials/nav'); %>
    <h1>welcome to the club of node</h1>
    <p>you wn't find any better page</p>
</body>
</html>